@media screen and (min-width: 992px){
.mobile-nav-buttons{
    display: none!important;
}
.navbar-item {
    display: flex;
}
.navbar-item, .navbar-link {
    align-items: center;
    display: flex;
}
}
@media screen and (max-width: 991.98px){
.navbar-brand .navbar-item, .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
}
.icon .fa{
    padding-bottom: 16%;
    font-size: 18px;
}
.shows_class{
    display: none;
}
.header-navbar .navbar .brand-mark {
    width: 70px;
}
.header_toggle_menu{
    margin-top: 67px;
}
} 
@media screen and (max-width:700px){
.page_top_heading_body {
    padding: 3rem 1.5rem;
}
.page_top_heading_title {
    font-size: 2.5rem;
}

}
@media screen and (min-width: 992px) and (max-width:1199.98px){
.navbar .container,.page_top_heading .container, .each_section .container {
    max-width: 95%;
    padding: 0;
}
.single_card .single_img{
    height: 193px;
    width: 100%;
}

}


@media screen and (min-width: 768px) and (max-width:991.92px){
.navbar .container,.page_top_heading .container, .each_section .container {
    max-width: 95%;
    padding: 0;
}
.single_card .single_img{
    height: 163px;
    width: 100%;
}
}

@media screen and (min-width: 576px) and (max-width:767.98px){
.navbar .container,.page_top_heading .container, .each_section .container {
    max-width: 95%;
    padding: 0;
}
.single_card .single_img{
    height: 155px;
    width: 100%;
}

}

@media screen and (max-width: 575.98px){
.single_card .single_img{
    height: 173px;
    width: 100%;
}

.footer_left .footer_logo{
    text-align: center;
    margin: 0 auto;
    display: block;
}

}
